@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --background-start-color: #202124;
  --background-end-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-color: #000000;
    --background-end-color: #000000;
  }
}

body {
  color: var(--foreground-color);
  background: #202124;
}
